<?php
/**
 * APIキー
 */
$API_KEYs = [
  'APIキーはここ！',
  '予備APIキーも追加できます（無料枠超過対策）'
  ];
/**
 * モデル名
 */
$MODEL = 'gemini-3.1-flash-lite';
/**
 * APIエンドポイント
 */
$URL = 'https://generativelanguage.googleapis.com/v1/models/' . $MODEL . ':generateContent';
/**
 * ニュース用RSSフィードのURL
 */
$RSS_URLs = [
  'https://rss.itmedia.co.jp/rss/2.0/news_bursts.xml',
  'https://news.yahoo.co.jp/rss/media/chibatele/all.xml',
  'https://news.yahoo.co.jp/rss/media/saitama/all.xml',
  'https://news.yahoo.co.jp/rss/media/kurumans/all.xml',
  'https://news.yahoo.co.jp/rss/media/tvtnews/all.xml',
  'https://news.yahoo.co.jp/rss/media/it_nlab/all.xml',
  'https://news.yahoo.co.jp/rss/media/bikeno/all.xml',
  'https://news.yahoo.co.jp/rss/media/bonichi/all.xml',
  'https://news.yahoo.co.jp/rss/media/biz_shoko/all.xml',
  'https://news.yahoo.co.jp/rss/media/impktw/all.xml',
  'https://news.yahoo.co.jp/rss/media/otakulab/all.xml',
  'https://news.yahoo.co.jp/rss/media/ascii/all.xml',
  'https://news.yahoo.co.jp/rss/media/impahw/all.xml',
  'https://rss.itmedia.co.jp/rss/2.0/kw_akiba.xml',
];
/**
 * VOICEVOXのURL
 */
$VOICEVOX_HOST = 'http://localhost:50021';