<?php
/**
 * APIキー
 */
$API_KEY = 'APIキーはここ！';
/**
 * モデル名
 */
$MODEL = 'gemini-3.1-flash-lite';
/**
 * APIエンドポイント
 */
$URL = 'https://generativelanguage.googleapis.com/v1/models/' . $MODEL . ':generateContent';
/**
 * ニュース用RSSフィードのURL
 */
$RSS_URL = 'https://rss.itmedia.co.jp/rss/2.0/news_bursts.xml';
/**
 * VOICEVOXのURL
 */
$VOICEVOX_HOST = 'http://localhost:50021';